.settings {
  background-color: #eee;
  border-radius: 5px;
  min-width: 180px;
}
.settings:hover {
  transform: scale(1.03);
  transition: 0.5s all ease-in-out;
}
.settings img {
  transition: transform 0.7s ease-in-out;
}
.settings img:hover {
  transform: rotate(360deg);
}
.settings span {
  margin-left: 8px;
}