@media (max-width: 767px) {
  .allProducts .col-lg-3 {
    justify-content: center;
    display: flex;
  }
  .allProducts .col-lg-3 .productCard {
    height: 300px;
  }
  .allProducts .col-lg-3 .productCard:hover {
    transform: scale(1.01);
    transition: 0.5s all ease-in-out;
  }
}
.btn-check:focus + .btn-success,
.btn-success:focus {
  box-shadow: none;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

.allCards button {
  box-shadow: none;
  width: 290px;
}

@media (max-width: 776px) {
  .allCards {
    display: flex;
    justify-content: center !important;
  }

  .title {
    text-align: center;
  }
}
.paginationBttns {
  width: 87%;
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.paginationBttns a {
  padding: 8px 14px;
  margin: 4px;
  border-radius: 4px;
  color: #198754;
  background-color: #fff;
  border: 1px solid #198754;
  cursor: pointer;
}
.paginationBttns a:hover {
  border: 1px solid #198754;
  color: #fff;
  background-color: #198754;
}
.paginationBttns .paginationActive a {
  color: #fff;
  background-color: green;
  border: 1px solid #034d2a;
}
.paginationBttns .paginationDisabled a {
  color: #198754;
  background-color: #bdb7b7;
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #bebebe;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #232b41;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353d53;
}