@media (max-width: 767px) {
  .allProducts .col-lg-3 {
    justify-content: center;
    display: flex;
  }
  .allProducts .col-lg-3 .productCard {
    height: 300px;
  }
  .allProducts .col-lg-3 .productCard:hover {
    transform: scale(1.01);
    transition: 0.5s all ease-in-out;
  }
}
.btn-check:focus + .btn-success,
.btn-success:focus {
  box-shadow: none;
}

@media (max-width: 776px) {
  .allCards {
    display: flex;
    justify-content: center !important;
  }

  .title {
    text-align: center;
  }
}
.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}