.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  li {
    margin: 0.5rem;
    margin-top: 25%;
    width: 1.2em;
    height: 1.2em;
    background: #198754;
    border-radius: 2;
    border-radius: 50%;
    animation: loader 0.8s ease-in-out infinite alternate;
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
    &:nth-child(4) {
      animation-delay: 0.6s;
    }
    &:nth-child(5) {
      animation-delay: 0.8s;
    }
    &:nth-child(6) {
      animation-delay: 1s;
    }
  }
}
@keyframes loader {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1em);
  }
}
