.nav {
  margin: 80px 0;
}
  .nav-link {
    width: 180px;
    background: transparent;
    color: #198754;
    margin: 0 5px;
    border: 1px solid #198754 !important;
    &:hover {
      color: #198754;
      transform: scale(1.03);
      transition: 0.5s all ease-in-out;
    }
    &:focus {
      color: #198754;
    }
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    min-width: 200px;
    background: #198754;
    color: #fff;
    &:hover {
      color: #fff;
      transform: scale(1.03);
      transition: 0.5s all ease-in-out;
    }
    &:focus {
      color: #fff;
      transform: scale(1.03);
      transition: 0.5s all ease-in-out;
    }
  }

  @media (max-width: 776px) {
    .nav {
      flex-direction: column;
      align-items: center;
    }
    .nav-link {
      margin-bottom: 20px;
    }
    .images-container {
      flex-direction: column;
      align-items: center;
      img {
        margin-bottom: 20px;
      }
    }
  }

